body {
  background-color: white;
}
h1 {
  font-family: "Verdana", sans-serif;
  color: black;
  text-align: center;
}
/*image organization*/
img[src*="icon.JPG"]{
  display: block;
  height: 500px;
  width: 300px;
  float: left;
}
img[src*="freshman.jpeg"]{
  display: block;
  height: 300px
  width: 500px
  float: left;
}
